body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #e6e6e6;
    margin: auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    background-color: #4a004a;
    color: white;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px -20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form select, form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #4a004a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #5e005e;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}
