@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sedan+SC&display=swap');
/* 
font-family: "Sedan SC", serif;
font-family: "Roboto Slab", serif;
*/

:root {
    --main-bg-color: bisque;
    --main-border-color: #159904;
}


body {
    font-family: "Sedan SC";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    padding: 1rem;
}

header {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.animal img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.data, .weather  {
    margin: 1rem 0;
    width: 80%;
    max-width: 600px;
    border: 1px solid var(--main-bg-color);
    padding: 1rem;
    background-color: var(--main-border-color);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    max-width: 100%;


}

.weather::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--main-bg-color);
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: rgb(2, 121, 128);
    color: white;
    padding: 1rem;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

#last-modified {
    font-style: italic;
}

.animal img {
    position: relative;
    width: 100%;
    max-width: 800px;
}