
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Poetsen+One&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary-color: #435bdf;
    --secondary-color: #d99be2;
    --font-primary: "Poetsen One";
    --font-secondary: "Playfair Display";
}

header, main, footer {
    font-family: var(--font-primary);
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

nav a:hover {
    color: #4e44e0;  
    text-decoration: underline;  /* 下線を追加 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

header {
    background-color: #f8f8f8;
}


main {
    padding: 2rem;
    background-color: #f3d8f8;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
}

footer {
    background-color: #f8f8f8;
    padding: 1.5rem;
    position: relative;
}

footer p {
    margin: 0;
}

footer .social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer .social-icons a {
    display: inline-block;
}


footer img {
    width: 50px;
    height: auto;
    padding: 5px;

}


/* travelhtml */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
}

.gallery-item {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.caption h3 {
    margin: 0;
    font-size: 1.5rem;
}

.caption p {
    margin: 0.5rem 0 0;
}



/* mehtml */

.itsme {
    text-align: center;
    padding: 1.7rem;
}

.itsme-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.itsme p {
    padding: 0.5rem;
}

.itsme-item {
    flex: 1 1 calc(14.28% - 10px);
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.itsme-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.itsme-item:hover {
    transform: scale(1.05);
}

.itsme-item:hover img {
    transform: scale(1.1);
}


/* siteplanhtml */


.intro img {
    display: block;
    margin: 0 auto 1rem;
    width: 265px;
}

.hobbies, .qualifications, .passions, .goals {
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.intro {
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

p {
    line-height: 1.6;
    color: #555;
    font-size: 1.1rem;
}

.columns-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}


.left-column, .right-column {
    flex: 1;
    padding: 1rem;
}

.left-column {
    text-align: left;
}

.right-column {
    text-align: left;
}
