
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Poetsen+One&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --primary-color: #435bdf;
    --secondary-color: #d99be2;
    --font-primary: "Poetsen One";
    --font-secondary: "Playfair Display";
}

header, main {
    font-family: var(--font-primary);
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


main {
    padding: 2rem;
}

footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
}